<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/Images/bestbuy_icon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>@ViewBag.Title Best Buy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("TEST", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("SHOP", "About", "Home")</li>
                        <li>@Html.ActionLink("BRANDS", "Contact", "Home")</li>
                        <li>@Html.ActionLink("PRODUCTS", "Index", "Products")</li>
                        <li class="SearchBar">
                            <input type="text" placeholder="Search Best Buy">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="MainLogo">
                <image src="~/Content/Images/bestbuy_main.png" width="60" height="40"></image>
            </div>
            <ul>
                <li><a href="#"><b>SHOP</b></a></li>
                <li><a href="#"><b>BRANDS</b></a></li>
                <li><a href="#"><b>DEALS</b></a></li>
                <li><a href="#"><b>SERVICES</b></a></li>
            </ul>
            <div class="SearchBar">
                <input type="text" placeholder="Search Best Buy">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>

            <div class="cart">
                <a href="#">
                    <image src="~/Content/Images/shopping-cart.png" width="40" height="40"></image>
                </a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BizHacks2018 Team 32</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
